.grid {
  position: relative;
  overflow-y: hidden;
  overflow-x: auto;
  flex-grow: 1;
  flex-shrink: 1;
  max-width: calc(100vw - 5rem);

  >.grid-layout {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    >.grid-row {
      flex-grow: 1;
      display: flex;
      flex-flow: row nowrap;
      align-items: stretch;

      >.grid-cell {
        flex-grow: 1;
        position: relative;
        @include pin;
        @include pin-label;
      }
    }
  }

  >.grid-controls {
    position: absolute;
    top: 0;
    left: 0;
  }
}